<!DOCTYPE html>
<html>
  <head>
    <title>BookFair</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag     "styles" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= "#{controller_name}-#{action_name}" %>">
    <div class="container-fluid">
      <%= render "common/navbar"%>
      <%= render "common/flashes" %>
      <%= yield %>
    </div>

    <%= render "common/footer"%>

  </body>
</html>
